<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bijli">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bijli">
        <activity android:name=".ElectricianProfileActivity"></activity>
        <activity android:name=".AboutusActivity" />
        <activity android:name=".ElectriciansActivity" />
        <activity android:name=".ComplaintActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ContentActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>